@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HouseSpirit.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="form-control border overflow-auto" style="height: calc(100vh - 50vh);" id="chatOutput">
    @foreach(var item in Model.Conversation.Split('\n'))
    {
         <div>@item</div>
    }
</div>

<form method="post" style="margin-top: 10px;">
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="col">
            <div class="input-group">
                <input asp-for="Message" type="text" class="form-control" placeholder="Enter your message">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" asp-page-handler="SendChat" value="Submit">
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="submit" class="btn" asp-page-handler="ClearChat" value="Clear">
        </div>         
    </div>
</form>

